body {
    background: url(/assets/images/login_bg.jpg) no-repeat;
    background-size: cover;
}

.bigBox {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    height: 60px;
    background: url(/assets/images/login_title.png) no-repeat center;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    top: 9px;
    left: 10px;
}

.layui-input {
    padding-left: 30px;
}

#goReg {
    float: right;
}

#goLogin {
    float: right;
}

.layui-form {
    padding: 0 20px;
}

#goLogin {
    font-size: 12px;
}

#goReg {
    font-size: 12px;
}